
body {
	background-color: #ecf0f1;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}

h1 {
	background-color: #2980b9;
	font-weight: 600;
	font-size: 50px;
}

h2 {
	background-color: #c0392b;
	font-weight: 600;
	font-size: 30px;
}

h3 {
	background-color: #8e44ad;
	font-weight: 600;
	font-size: 15px;
}

h1, h2, h3, h4, h5 {
	display:inline-block;
	
	color: white;

	padding: 0.3em;
	padding-left: 20px;
}

ol {
	list-style-type: decimal;
	list-style-position: inside;  
}

ul {
	list-style-type: none;
	list-style-position: inside;  
}

a:link, a:visited {
	color: #d35400;
	text-decoration: none;
}

a:hover, a:active {
	color: #e67e22;
	text-decoration: underline;
}

.blurb {
	width: 75%;

	margin: 2em;
	margin-left: 0;

	padding-left: 20px;

	line-height: 1.5em;
}

.nav-container {	
	margin: 20px;
	text-align: right;
}

.nav-container a:link, a:visited {
	padding: 10px;
}

.nav-container a:hover, a:active, a.selected {
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
}
