/**
 *  [Reset Styles]
 *
 *  Undo browser-specific styles
 */

* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
}


/**
 *  [Global Styles]
 *
 *  Styles that affect everything on the page!
 */

body {
    
    /*
        It is OK to apply styles to the body tag
        for properties that you want to be shared
        across all of your pages!
     */
    
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #333;
}

/**
 *  [Site Styles]
 *
 *  Styles for your website!
 */


.heading {
    font-size: 48 px;
    color: #666;

}

.heading-anchor:hover {
    text-decoration: none;
    color: #333;

}