/*
Reset style sheet
*/

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	font-weight: normal;
}

/*
Start styles
*/

.heading,
.subheading {
	font-size: 123px;
	font-family: "Ariel", Helvetica, Sans-Serif;
}

.heading {
	font-size: 48px;
}

.subheading {
	font-size: 36px;
}