/**
 *  [Reset Styles]
 *
 *  Undo browser-specific styles
 */

* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
}


/**
 *  [Global Styles]
 *
 *  Styles that affect everything on the page!
 */

body {
    
    /*
        It is OK to apply styles to the body tag
        for properties that you want to be shared
        across all of your pages!
     */
    
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #333;
}

/**
 *  [Site Styles]
 *
 *  Styles for your website!
 */
 .heading {
    font-size: 40px;
    text-align: center;
 }
.heading-anchor {
    text-decoration: none;
      color: black;
}
.recipe-navigation {
    text-align: center;
    display: table;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;


}
.nav-item  {
    text-decoration: none;
    color: black;
    width: 200em;
}

 .recipe-navigation a {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.01);
}
.recipes {
    display: block;
    max-width: 500px;
    max-height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    overflow: auto;
}
.recipe {
    display: none;

}
:target {
    display: block;

}

ul.ingredients {
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
}
ol.instructions {
    display: list-item;
    list-style-type: circle;
    list-style-position: outside;
}
