/* CSS Coming Soon! */

* 
{
    box-sizing: border-box;
    box-sizing: content-box;
    font-family: arial;
}

html, body
{
    min-height: 100%;
}

body
{
    margin: 40px;
}

.heading,
.sub-heading,
.section-heading
{
    margin: 0 0 25px;
}

/*
    Demo Content
 */

.demo-nav {}

.demo-nav-item 
{
    display: block;
}

.demo-paragraph {}

.demo-image {
    display: block;
    margin: 0 0 10px 0;
    border-radius: 3px;
}

.container{
    border: 1px solid blue;
}

.container > div {
    border: 1px solid #f00;
}

/*
    Fixed Three Column Layout
 */

.fixed-three-column { 
    width: 960px;
    margin: auto;
}

.fixed-three-column .col-1{
    float: left;
    width: 160px;
}

.fixed-three-column .col-2{
    float: left;
    width: 560px;
    padding: 10px;
    background: rgba(0,0,0,0.123);
    border-radius: 3px;
    margin-right: 40px;
}

.fixed-three-column .col-3{
    float: left;
    width: 200px;
}

/*
    Fluid Three Column Layout
 */

.fluid-three-column { 
    width: 80%;
    margin: auto;
}

.fluid-three-column .col-1{
    float: left;
    width: 17%;
}

.fluid-three-column .col-2{
    float: left;
    width: 62.5%;
    margin-right: 2%;
}

.fluid-three-column .col-3{
    float: left;
    width: 20.5%;
}

.fluid-three-column .demo-image{
    width: 100%;
    height: auto;
}

/*
    Responsive Two Column
 */

.responsive-two-column {
    max-width: 960px;
    margin: auto;
}

.responsive-two-column .col-1{
    float: left;
    width: 20%;
    max-width: 260px;
    max-height: 2%;
}

.responsive-two-column .col-2{
    float: left;
    width: 75%;
    max-width: 720px;
}

.responsive-two-column .demo-image{
    max- width: 100%;
    height: auto;
}

@media only screen and (max-width: 480px) {
  .responsive-two-column .col-1,
  .responsive-two-column .col-2{
    float: none;
    width: auto;
    max-width: none;
  }
  .responsive-two-column .col-2{
    margin-top: 25px;
  }
  .responsive-two-column .demo-nav-item{
    padding: 8px;
    background: rgba(0,0,0,0.123);
    margin: 0 0 4px;
    text-decoration: none;
  }
  .responsive-two-column .demo-nav-item:active{
    background: rgba(0,0,0,0.234);
  }
}
