*{
	margin:0 ;
	padding:0;

	font-size: 100%;
	font : inherit;
	font-weight: normal ;
	line-height: 1.5 ;



}

.h1 {
	font-family: times normal
}
.heading {
	font-size: 40px;
	color: orange

}

.babyheading {
	color: red

}

.recipe-subheading {
	font-size:35px;
	color:darkorange;
	font-family: serif;
}

.boxed {
	border: 1px solid lightblue;
}
.instruction-tip {
	font-size: 10px;
	font-family: sans-serif;
}

.instruction {
	margin-left: 100px;
	margin-right: 100px;
	
}