/**
 *  [Reset Styles]
 *
 *  Undo browser-specific styles
 */

* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
}


/**
 *  [Global Styles]
 *
 *  Styles that affect everything on the page!
 */

body {
    
    /*
        It is OK to apply styles to the body tag
        for properties that you want to be shared
        across all of your pages!
     */
    
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #333;
}

/**
 *  [Site Styles]
 *
 *  Styles for your website!
 */


/**
 * [ Heading Styles ]
 */

.heading {
    /*
        <h1> tags are block elements
     */
    font-size: 48px;
    /*
        font-size: 5em;
        font-size: 5rem;
        font-size: 2in; ;) just kidding
     */
    text-align: center;
    margin: 10px;
}

.heading-anchor {
    /*
        <a> anchor tags are `inline` elements
     */
    text-decoration: none;
    /*
        text-decoration: underline | line-through;
     */
    color: #666;
    /*
        color: #000000;
        color: rgb(255,255,255);
        color: rgba(123,123,123,0.33);
        color: red;
     */
}

.heading-anchor:hover {
    color: #333;
}



/**
 * [ Navigation Styles ]
 */

.recipe-navigation {
    width: 720px;
    margin: 20px auto;
    /*
        Margin Shorthand written out:
        margin: top right bottom left | top&bottom left&right
        TRBL Terrible Trouble
        margin: 20px auto 20px auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
     */
    padding: 8px 4px;
    background: rgba(0,0,0,0.25);
}

.nav-item {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 3px 4px;
}

.nav-item:hover {
    background: rgba(0,0,0,0.12);
    /*
        background: #333;
     */
    color: #000;
}

.recipe-chunky-cheesecake-brownies .nav-chunky-cheesecake-brownies,
.recipe-chocolate-chip-cookies .nav-chocolate-chip-cookies,
.recipe-baked-ziti .nav-baked-ziti {
    color: #000;
    background-color: rgba(0,0,0,0.25);
}

.nav-item.current {
    color: #000;
    background-color: rgba(0,0,0,0.25);
}

body.recipe-chunky-cheesecake-brownies {
    background-color: rgba(0,255,0,0.25);
}
body.recipe-chocolate-chip-cookies {
    background-color: rgba(0,0,255,0.25);
}
body.recipe-baked-ziti {
    background-color: rgba(255,0,0,0.25);
}

/**
 * [ Recipe Cards ]
 * This is the stuff
 * Object Oriented CSS
 */

.recipes {
    position: relative;
    /*
        position relative here works to contain 
        the absolutely positioned recipe cards `.recipe`
     */
    /*
        Defining the dimenions of the recipe cards container 
        (and the cards themselves)
     */
    width: 720px;
    height: 480px;

    margin: auto;
    /*
        margin: auto auto auto auto;
     */
}

.recipe {
    
    position: absolute;
    
    height: 100%; 
    width: 100%;

    /*
        Similar to height/width 100%
        I call it "Pinning"
     */
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*
        This height 100% takes its size from the parent element
        Most percentage values behave this way in CSS
        % has to be based off of -something-

        In this specific instance, .recipe is a child of .recipes
        .recipes is explcitly 480px
        therefore so is this thing
     */
    
    background: #e2e2e2;

    overflow: hidden;

    /*
        background: rgb(240,240,240);
     */
    opacity: 0;

    /* transitions are cool */
    transition: opacity 500ms ease;

}
.recipe:target {
    opacity: 1;
    z-index: 2;
}

.recipe-label {
    position: absolute;
    width: 25%;
    top: 0;
    bottom: 0;
    left: 0;

    /*
        We set the background images below
        scoping the property to the specific .recipe card
        
        We set other background properties here
        to be shared by all of them

        background-size
            cover "fill the whole thing"
            contain "fit my background in the available space"
     */
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.recipe-home-banner .recipe-label  {
    background-image: url('../images/pizza.gif');
}
.recipe-baked-ziti .recipe-label {
    /* 
        In the .recipe-baked-ziti element 
        apply a background to the .recipe-label 
    */
    background-image: url('../images/recipe-baked-ziti.jpg');
}
.recipe-chocolate-chip-cookies .recipe-label {
    /* 
        In the .recipe-chocolate-chip-cookies element 
        apply a background to the .recipe-label 
    */
    background-image: url('../images/recipe-chocolate-chip-cookies.jpg');
}
.recipe-chunky-cheesecake-brownies .recipe-label {
    /* 
        In the .recipe-chunky-cheesecake-brownies element 
        apply a background to the .recipe-label 
    */
    background-image: url('../images/recipe-chunky-cheesecake-brownies.jpg');
}

.recipe-name {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    background: rgba(0,0,0,0.25);
    color: #fff;
}

.recipe-body {
    margin-left: 25%;
    padding: 20px 40px;

    /*
        Makes the recipe body scrollable
        These two properties work in tandem
        If the contents of this element are taller than 
        the available space provided by the parent

        overflow auto kicks in when the max-height is hit.
     */
    overflow: auto;
    max-height: 100%;
}

.recipe-section {
    margin-bottom: 20px;
}
.recipe-section:last-child {
    margin-bottom: 0;
}
.recipe-subheading {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.2323213123);
    margin-bottom: 5px;
}


.recipe-home-banner-heading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


/* 
    Examples of scoping styles based on the HTML Tag
    <html class="class-name"> 
*/
/*.home .heading {
    background-color: #f00;
}
.other-page .heading {
    background-color: #00f;
}
*/









