div#recipe-box{
	width: 100%;
	height: 100%;
/*	border: 1px solid red !important;
*/	margin: 25px;
}

div#title-box{
	text-align: center;
	width: 99%;
	height: 12%;
	/*border: 1px solid red !important;*/
	padding-top: 15px;
}

div#recipe-nav-box{
	text-align: center;
	position: relative;
	/*top: px;*/
	padding-left: 25px;
	padding-right: 25px;
	width: 21%;
	height: 85%;
	border: 1px solid red 	!important;
	overflow: auto;
}

div#recipe-one-button{
	border: 1px solid blue	!important;
}

div#recipe-two-button{
	border: 1px solid blue	!important;
}

div#recipe-three-button{
	border: 1px solid blue	!important;
}

div#recipes-display-box{
	text-align: left;
	position: relative;
	/*top: -490px;*/
	display: block;
	top: -85.2%;
	left: 27%;
	width: 70%;
	height: 200%;
	background-color: #fff;
	/*border: 1px solid red !important;*/
}

div#home{
	font-size: 24pt;
	font-weight: bolder;
	text-align: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	line-height: 2200%;
	background-color: #fff;
}

div#first-recipe{
	position: absolute;
	z-index: -1;
	background-color: #fff;
	width: 100%;
	height: 100%;
	line-height: 180%;
}

div#second-recipe{
	position: absolute;
	z-index: -1;
	background-color: #fff;
	width: 100%;
	height: 100%;
	line-height: 180%;
}

div#third-recipe{
	position: absolute;
	z-index: -1;
	background-color: #fff;
	width: 100%;
	height: 100%;
	line-height: 180%;
}

h3{
	padding-top: 8px;
}

h2{
	padding-left: 10px;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a:active{
	text-decoration: none;
}

h2 span{
	margin-top: -380px;
	padding-bottom: 300px;
	display: block; 
}

