.normal {font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;}
.heading {
	font-size: 2.5em;
	text-align: center;
}
.subheading {
	font-size: 1.5em;
}
/*.inside-text {
	margin-left: 1.5em;
}*/
.ingredient-heading, .instruction-heading {
	padding-left: .5em;
	font-size: 1.25em;
}
.ingredients {
	font-size: large;
}
.instructions {
	line-height: 1.5em;
	font-size: medium;
}
.nav-heading {
	text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 3px 4px;
    margin: 0 4px;
    white-space: nowrap;
}
.recipe-navigation .nav-heading>a {
	font-size: medium;
	text-decoration: none;
	color: #666;
	transition: all 200ms linear;
}
.recipe-navigation .nav-heading>a:hover {
	font-size: large;
}
.recipe-navigation {
	border-radius: 4px;
	background-color: whitesmoke;
	padding: 1em;
}
.recipe-navigation .nav-right {
	display: inline-block;
	text-align: right;
	list-style: none;
}
.recipe-navigation .nav-left {
	display: inline-block;
	text-align: left;
	list-style: none;
}
.recipe-navigation .nav-item {
    display: inline-block;
}
.recipe-navigation .nav-item>a {
	text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 3px 4px;
    margin: 0 4px;
    white-space: nowrap;
}
.recipe-navigation .nav-item>a:hover {
	color: whitesmoke;
	background-color: #666;
	height: 1em;
	border-radius: 2px;
}
.recipe-navigation .nav-right>.active>a {
	color: whitesmoke;
	background-color: #666;
	height: 1em;
	border-radius: 2px;
	transition: all 200ms linear;
}
.recipe-navigation .nav-right>.active>a:hover {
	padding: 6px;
}
.recipe {
	margin-left: 1em;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-half {
  position: relative;
  display: inline-block;
  vertical-align:top;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 15px auto;
  width: 47%;
}
.col-third {
  position: relative;
  display: inline-block;
  vertical-align:top;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 15px auto;
  width: 30%;
}
.col-half img {
	display: inline-block;
	margin-top: 50px auto;
	border-radius: 4px;
}
 .col-third img {
	display: inline-block;
	margin: 20px auto;
	border-radius: 4px;
}