/*
Reset Style Sheet
*/
*{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

#heading{
	text-align: center;
	font-weight: bold;
	font-size: 18pt;
    padding-left: 0;
	padding-top: 20px;
}

ul {
    list-style-type: none;
    padding-top: 35px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

li {
    float: left;
}

a:link, a:visited {
    display: block;
    width: 400px;
    font-weight: bold;
    color: #000;
    background-color: #F00;
    text-align: center;
    font-weight: bolder;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border-right: 1px solid white;
}

a:hover, a:active {
    background-color: #0F0;
}

/*Adding Functionality for Mobile Devices with screen size 5" and width 640px*/
@media all and (max-width: 640px){
    
    .heading{
        font-size: 10px;
        text-align: center;
        padding-left: 40px;
    }

    a:link, a:visited {
        font-size: 150%;
        display: block;
        width: 320px;
        font-weight: bold;
        color: #000;
        background-color: #F00;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;
        text-transform: uppercase;
        border-right: 1px solid white;
        border-bottom: 2px solid white;
        padding: 15%;
    }

    a:hover, a:active {
    background-color: #0F0;
    }

    ul {
    list-style-type: none;
    padding: 20px;
    width: 380px;
    padding-right: 520%;
    }
}
