body{
	background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTikZ2psqHLYmLqX916YPMLfKdTuSPjCxC3ja9ITaBNSdlVPVy1KQ');


.post.photo {
position: relative;
overflow: hidden;
background-attachment: fixed;
background-position: 50% 50%;
background-repeat: no-repeat;
}

}
