<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <title>Layouts</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>

    <div class="container fixed-three-column">

        <h1 class="heading">Layouts</h1>
        <h2 class="sub-heading">Fixed Three Column</h2>

        <div class="col-1">
            <nav class="demo-nav">
                <a class="demo-nav-item" href="#nav-item">Nav Item 1</a>
                <a class="demo-nav-item" href="#nav-item">Nav Item 2</a>
                <a class="demo-nav-item" href="#nav-item">Nav Item 3</a>
            </nav>
        </div>
        
        <div class="col-2">
            <h3 class="section-heading">Kitten Ipsum dolor sit amet euismod quis sleeps</h3>
            <p class="demo-paragraph">Mollis suscipit cat up buddy cuddles orci Phasellus bibendum. Vulputate non her auctor norwegian forest cat, cat sapien sed cat stowaway accumsan muffin vel porttitor cuddles psycho friend sleeping?</p>
            <p class="demo-paragraph">Claw stuck in a tree sapien curiosity est highness, fight dui royal sagittis skeptical adipiscing volutpat rutrum cat. Praesent, cat laoreet neque eu dignissim.</p>
            <p class="demo-paragraph">In, id girlfriend boy wish quis tempus cat sniff vel Cras accumsan porttitor Sed crosseyed? Whisker, mi euismod enim cat caturday nap auctor rescuing! Non sapien, cat eu nisi tristique diam quam tempor basket inceptos fluffy her!</p>
        </div>
        
        <div class="col-3">
            <img class="demo-image" src="http://placekitten.com/g/200/300" alt="PlaceKitten" />
            <img class="demo-image" src="http://placekitten.com/g/200/200" alt="PlaceKitten" />
            <img class="demo-image" src="http://placekitten.com/g/200/150" alt="PlaceKitten" />
        </div>

    </div>
    
</body>
</html>





