<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layouts</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>

    <div class="container responsive-two-column">

        <h1 class="heading">Layouts</h1>
        
        <h2 class="sub-heading">
            <a href="./fixed-three-column.html">Fixed Three Column</a>
        </h2>
        <h2 class="sub-heading">
            <a href="./fluid-three-column.html">Fluid Three Column</a>
        </h2>
        <h2 class="sub-heading">
            <a href="./responsive-two-column.html">Responsive Two Column</a>
        </h2>

    </div>

</body>
</html>
