body{
	font-family: Helvetica, "Times New Roman", Times, sans-serif;
	color: black;
    background-color: #5F3514;}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #E38F4F;
    padding: 15px 15px;}

h1{font-size: 40px;}

/*h1 {color: #31B404;
	font-size: 40px;}*/

/*h2 {color: #BCF5A9;
	font-size: 30px;}*/

a:link {color: #F2F2F2;}

a:visited {color: #848484;}

a:hover {text-decoration: underline;}

/*document.style.body.background: red; facebook*/