/**
 *  [Reset Styles]
 *
 *  Undo browser-specific styles
 */

* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
}


/**
 *  [Global Styles]
 *
 *  Styles that affect everything on the page!
 */

body {
    
    /*
        It is OK to apply styles to the body tag
        for properties that you want to be shared
        across all of your pages!
     */
    
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #333;
    height:100%;
}

html {
    height:100%;
}

/**
 *  [Site Styles]
 *
 *  Styles for your website!
 */

.heading {
    text-align: center;
    font-size: 2.5em;
}

.heading-anchor {
    color: #000000;
    font-weight:bold;
    text-decoration: none !important;
}
.heading-anchor:hover {
    color: #777777;
}

.recipe-navigation {
    display: table;
    background-color: #BBBBBB;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    text-align: center;
    font-size: 1.5em;
}

.nav-item {
    color: black;
    font-weight: bold;
    text-decoration: none !important;
}
.nav-item:hover {
    background-color: #999999;
}

.instructions, .ingredients, .recipe-home-banner-heading{
    padding:10px 30px;
}
.instruction, .ingredient {
    font-size:1.15em;
}
.instruction {
    list-style-type:decimal;
}
.ingredient {
    font-weight:bold;
}

.recipes {
    display:block;
    margin: 50px auto;
    width: 1000px;
    height:500px;
}

.recipe-baked-ziti .recipe-label {
    background: url("../images/recipe-baked-ziti.jpg");
}

.recipe-chocolate-chip-cookies .recipe-label {
    background: url("../images/recipe-chocolate-chip-cookies.jpg");
}

.recipe-chunky-cheesecake-brownies .recipe-label {
    background: url("../images/recipe-chunky-cheesecake-brownies.jpg");
}

.recipe-label {
    display:inline-block;
    position:absolute;
    float:left;
    width: 17%;
    height: 500px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px, auto;
}

.recipe-name {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 1.55em;
    font-weight: bold;
    height: 70px;
    width:100%;
    border-radius-top-left: 10px;
    border-radius-top-right: 10px;
}

.recipe-body {
    display:inline-block;
    float:right;
    background-color: #DDDDDD;
    max-height:500px;
    height:100%;
    width:70%;
    margin-left: 5%;
    overflow-y: scroll;
    border-radius: 10px;
}

.recipe-subheading {
    width:100%;
    font-weight:bold;
    font-size:1.3em;
    text-align: center;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius:5px;
}

.recipe {
    display:none;
    width: 100%;
    height:100%;
}
:target {
    display:block;
}