* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
}

body {
	font-family: tahoma, sans-serif;
	margin: 50px; 
}

ul {
	list-style-type: none;
}

.header {
	height: 50px;
	background-color: #E6E6E6;
	max-width: 960px;
	margin: 0px auto;
}



.header-cont {
	position: fixed;
	width: 100%;
	top: 0px;
	opacity: 1;
	z-index: 1;
}

.header-text {
	font-size: 30px;
	margin-left: 10px;
	float: left;
}

.account {
	text-align: right;
	font-size: 20px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.account:hover {
	opacity: .5;
	text-decoration: none;
}

.city-navigation {
    padding: 6px 0px;
    margin-bottom: auto;
    text-align: center;
    white-space: nowrap;
}

.city-navigation,
.nav-item {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 0px 8px;
    background-color: white;
}

.nav-item {
	border: solid;
}
.nav-item:active {
	border: double;
	background: #E6E6E6;
}

.non-nyc-link {
	text-align: center;
	font-size: 15px;
}

.search-section {
	text-align: center;
	margin-top: 225px;
	width: 20%;
	float: left;
	margin-left: 310px;
}

.search-section-page {
	text-align: center;
	margin-left: 600px;
	margin-top: 110px;
}

.container3 {
	width: 90%;
	margin-left: 10%;
}

.container2 {
	position: absolute;
	width: 70%;
	margin-left: 22%;
	max-height: 460px;
}
.container {
	width: 70%;
	margin-left: 5%;
}

.sub-container-left2 {
	width: 20%;
	position: fixed;
	min-height: 460px;
}

.sub-container-right2 {
	max-width: 80%;
	margin-left: 20%;
	position: absolute;
}

.sub-container-left {
	width: 20%;
	position: absolute;
	min-height: 460px;
}

.sub-container-mid {
	width: 20%;
	text-align: center;
	position: absolute;
	min-height: 460px;
	margin-left: 30%;
}

.sub-container-right {
	width: 20%;
	margin-left: 60%;
	min-height: 460px;
}

.categories-pt-2 {
	text-align: center;
}

.category-pt-2 {
	margin-top: 1px;
	padding: 1px;
	border: solid;
}

.category-pt-3 {
	margin-top: 1px;
	border: solid;
	max-width: 100px;
}

.categories-pt-2 li a{
	display: block;
}

.categories {
    margin-bottom: auto;
    text-align: center;
    width: 40%;
    float: right;
    margin-top: 130px;
}

.category {
	border: solid;
	border-radius: 1px;
	margin-top: 1px;
	margin-left: 250px;
	padding: 1px;
	width: 40%;
}

.categories li a {
	display: block;
}

.nav-in-use {
	background-color: #E6E6E6;
	font-weight: bold;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 15px;
}
h5 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

.text {
	margin-bottom: 1px;
}

.go {
	font-size: 25px;
	margin-left: 40%;
}

.item {

}

.item-photo {
	position: absolute;
}

.item-description {
	margin-left: 35%;
	border: 1px;
	border: solid;
	max-height: 150px;
	min-width: 500px;
	font-size: 15px;
	margin-top: 6px;
}