/**
 *  [Reset Styles]
 *
 *  Undo browser-specific styles
 */

* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
}


/**
 *  [Global Styles]
 *
 *  Styles that affect everything on the page!
 */

body {
    
    /*
        It is OK to apply styles to the body tag
        for properties that you want to be shared
        across all of your pages!
     */
    
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #333;
}

/**
 *  [Site Styles]
 *
 *  Styles for your website!
 */


/**
 * [ Heading Styles ]
 */

.heading {
    /*
        <h1> tags are block elements
     */
    font-size: 48px;
    /*
        font-size: 5em;
        font-size: 5rem;
        font-size: 2in; ;) just kidding
     */
    text-align: center;
    margin: 10px;
}

.heading-anchor {
    /*
        <a> anchor tags are `inline` elements
     */
    text-decoration: none;
    /*
        text-decoration: underline | line-through;
     */
    color: #666;
    /*
        color: #000000;
        color: rgb(255,255,255);
        color: rgba(123,123,123,0.33);
        color: red;
     */
}

.heading-anchor:hover {
    color: #333;
}



/**
 * [ Navigation Styles ]
 */

.recipe-navigation {
    width: 720px;
    margin: 20px auto;
    /*
        Margin Shorthand written out:
        margin: top right bottom left | top&bottom left&right
        TRBL Terrible Trouble
        margin: 20px auto 20px auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
     */
    padding: 8px 4px;
    background: rgba(0,0,0,0.25);
}

.nav-item {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 3px 4px;
}

.nav-item:hover {
    background: rgba(0,0,0,0.12);
    /*
        background: #333;
     */
    color: #000;
}

/**
 * [ Recipe Cards ]
 * This is the stuff
 * Object Oriented CSS
 */

.recipes {
    position: relative;
    /*
        position relative here works to contain 
        the absolutely positioned recipe cards `.recipe`
     */
    /*
        Defining the dimenions of the recipe cards container 
        (and the cards themselves)
     */
    width: 720px;
    height: 480px;

    margin: auto;
    /*
        margin: auto auto auto auto;
     */
}

.recipe {
    
    position: absolute;
    
    height: 100%; 
    /*
        This height 100% takes its size from the parent element
        Most percentage values behave this way in CSS
        % has to be based off of -something-

        In this specific instance, .recipe is a child of .recipes
        .recipes is explcitly 480px
        therefore so is this thing
     */
    
    background: #e2e2e2;

    overflow: hidden;

    /*
        background: rgb(240,240,240);
     */
    opacity: 0;

    /* transitions are cool */
    transition: opacity 500ms ease;

}
.recipe:target {
    opacity: 1;
    z-index: 2;
}

.recipe-label {
    position: absolute;
    width: 25%;
}

.recipe-name {}

.recipe-body {
    margin-left: 25%;
    padding: 20px 40px;

    /*
        Makes the recipe body scrollable
     */
    overflow: auto;
    max-height: 100%;
}

.recipe-section {}

.recipe-subheading {}


