/*
  Reset Styles
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Sans-serif;
}


/*
  Global Styles
 */

html, body {
    min-height: 100%;
}

body {
    margin: 40px;
}

/*
  Page Styles
 */

.heading {
    margin: 0 0 25px;
}

.btn {
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    background-color: white;
    border-color: #404040;
    color: #333333;
    padding-top: .25rem;
    padding-right: .65rem;
    padding-bottom: .25rem;
    padding-left: .65rem;
    transition: background-color 300ms ease-out;
}

.btn:hover {
    background-color: #666;
    color: white;
    cursor: pointer;
}

.img {
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin: 10px 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    padding: .25rem .65rem;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;
    background-color: #666;
    border-color: #404040;
    color: white;
    width: 125px;
}

.tooltip:after {
    
}