@import url(http://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);

/* Fancy text*/
html,
body {
  margin: 0;
  padding: 10;
  height: 100%;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #684da3;
}

.fancy-text {
  color: #fff;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight:700;
  position: absolute;
  top: 20px;
  left: 150px;
  right:100px;
}
.fancy-text span {
  display: inline-block;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500;
          perspective: 500;
  -webkit-font-smoothing: antialiased;
}
.fancy-text span::before,
.fancy-text span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  -webkit-transform-origin:left top;
      -ms-transform-origin:left top;
          transform-origin:left top;
  -webkit-transition: all ease-out 0.3s;
          transition: all ease-out 0.3s;
  content: attr(data-text);
}
.fancy-text span::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
      -ms-transform: scale(1.1, 1) skew(0deg, 20deg);
          transform: scale(1.1, 1) skew(0deg, 20deg);
}
.fancy-text span::after {
  z-index: 2;
  color: #684da3;
  text-shadow: -1px 0 1px #684da3, 1px 0 1px rgba(0,0,0,0.8);
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
}
.fancy-text span:hover::before {
  -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
      -ms-transform: scale(1.1, 1) skew(0deg, 5deg);
          transform: scale(1.1, 1) skew(0deg, 5deg);
}
.fancy-text span:hover::after {
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
}
.fancy-text span + span {
  margin-left: 0.3em;
}
@media (min-width: 20em) {
  .fancy-text {
    font-size: 2em;
  }
  .fancy-text span::before,
  .fancy-text span::after {
    display: block;
  }
}
@media (min-width: 30em) {
  .fancy-text {
    font-size: 3em;
  }
}
@media (min-width: 40em) {
  .fancy-text {
    font-size: 5em;
  }
}
@media (min-width: 60em) {
  .fancy-text {
    font-size: 8em;
  }
}

.header
{
  width: 100%;
  clear: both;
}

.wrap{
  width: 216px;
  height: 68px;
  background: #fff;
  margin: 50px auto;
  border-radius: 34px;
  box-shadow:
    inset 0 30px 50px #d1d1d1;
  position: relative;
}
  
.wrap:before{
  content:"";
  width: 206px;
  height:58px;
  border-radius: 29px;
  background: #e9d7be;
   box-shadow:
    inset 0 30px 50px #a5a4a4;
  position: absolute;
  left: 5px;
  top: 5px;
}

.wrap:after{
  content:"";
  width: 200px;
  height:52px;
  border-radius: 26px;
  background: -webkit-linear-gradient(top, #fe9810 0%,#e75400 61%,#e75400 91%,#ea8810 100%);
  box-shadow:
    inset 0 3px 20px rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 8px;
  top: 8px;
  transition: all 1s ease-in-out;
}

.button{
  display: inline-block;
  width: 115px;
  height: 52px;
  border-radius: 30px;
  background: -webkit-linear-gradient(top, #efeeee 0%,#bcb9b8 100%);
  border-top: solid 2px #fafafa;
  border-bottom: solid 2px #ada39d;
  box-shadow:
    1px 6px 7px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 5px;
  left: 6px;
  z-index: 99;
}

.button:before{
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: -webkit-linear-gradient(top, #c2c0be 0%,#d6d6d6 100%);
  position: absolute;
  top: 8px;
  right: 10px;
}

.button:hover{
  border-bottom: none;
  top: 6px;
  box-shadow:
    1px 4px 7px rgba(0, 0, 0, 0.5),
    0 0 3px rgba(0, 0, 0, 0.4);
}

.button:active{
  left: 94px;
  transition: all 0.2s ease-in-out;
}
/*ujnmkoim ";.[p ,."*/
