body{
	background: tan;
}

/*
Reset Style Sheet
*/

*{
	margin: 4;
	padding: 4;
}

.heading, 
.subheading{
	font-family: "comic sans MS", Helvetica, Arial, Sans-serif;
}

.heading{
	font-size: 48px;
}

.subheading{
	font-size: 28px;
}

#logo{
	font-family: times;
}

.ingredients .ingredient{
	color: #FF0000;
}