/**
 *  [Reset Styles]
 *
 *  Undo browser-specific styles
 */

* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
}


/**
 *  [Global Styles]
 *10

 *  Styles that affect everything on the page!
 */

body {
    
    /*
        It is OK to apply styles to the body tag
        for properties that you want to be shared
        across all of your pages!
     */
    
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #333;
}

/**
 *  [Site Styles]
 *
 *  Styles for your website!
 */

 /*
    Heading Styles
 */

.heading{
    font-size: 48px;
    text-align: center;
    /* block elements */
}

.heading-anchor{
    text-decoration: none;
    color: #666;
    /* anchor tages are 'inline' elements*/
}

.heading-anchor:hover{
    color: #333;
}

/*
    Navagation Styles
*/

.recipe-navigation{
    width: 750px;
    margin: 20px auto;
    background-color: rgba(0,0,0,0.25);
    padding: 8px 4px;
    /*
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    */
}

.nav-item{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 3px 4px;
}
.nav-item:hover{
    background-color: rgba(0,0,0,0.12);
    color: black;
    padding: 3px 4px;
}

/*
    Recipe Cards
    Object-Oriented CSS
*/

.recipes{
    /* Define the dimensions of recipe card container*/
    width: 720px;
    height: 480px;
    margin: auto;
    position: relative;
}

.recipe{
    background: #e2e2e2;
    position: absolute;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 500ms ease;
}

.recipe:target{
    opacity: 1;
    z-index: 2;
}

.recipe-label{
    width: 25%;
    position: absolute;
}

.recipe-name{

}

.recipe-body{
    margin-left: 25%;
    padding: 20px 40px;
    /*
        style below to see other recipes
    */
    overflow: auto;
    max-height: 100%;
}

.recipe-section{

}

.recipe-subheading{

}

@media (max-width: 640px){
	.recipe-navigation{
		width: 100%;
		border-radius 0;
	}
	.recipe-navigation .nav-item{
		display: block;
		border-radius: 0;
		padding: 10px 35px;
	}
}