/* CSS Coming Soon! */

* 
{
    box-sizing: border-box;
    font-family: arial;
}

.container
{
    width: 20%;
    margin: 100px auto;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}

.item
{
    position: relative;
    height: 100px;
    margin: 10px 0 0 0;
    padding: 0 20px 0 80px;
    background: #999;
    line-height: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 3px;
    font: bold 14px/100px Sans-serif;
    color: #fff;

    transition: height 1s ease;
}

.item:first-child
{
    margin-top: 0;
}

.item_icon
{
    position: absolute;
    top: 50%; left: 20px;
    width: 30px; height: 30px;
    margin: -15px 0 0 0;
    background: rgba(0,0,0,0.45);
    border-radius: 3px;

    transition: left 1s ease;
}


.item.collapse {
    font-size: 0;
    height: 60px;
}

.item.collapse .item_icon {
    left: 50%;
    margin-left: -15px;
}





