* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.clearfix {
	clear: both;
}

header{
	display: block;
	width: 100%;
	height: auto;
}
.header-banner{
	display: block;

	height:95px;
	width:100%;

	background: linear-gradient(#FD5000, #FE7400);
	background: -webkit-linear-gradient(#FD5000, #FE7400);
	background: -o-linear-gradient(#FD5000, #FE7400);
	background: -moz-linear-gradient(#FD5000, #FE7400);
}
.title-container{
	display: inline-block;
	margin: 10px 20px;
	height: auto;
	width: auto;
}
.title-container > .title{
	display: block;
	font-size: 2.25em;
	font-weight: bold;
	color: white;

	text-shadow: 	-1px -1px #000,
					-1px 1px #000,
					1px -1px #000,
					1px 1px #000;
}
.subtitle{
	display: block;
	position: relative;
	top: -12px;
	padding: 0 35px;
	font-size: 1.25em;
	font-family: "Times New Roman", Times, serif;
	font-weight: 900;
	color: white;
}
.logo-container{
	display: inline-block;
	float: right;
	height: 100%;
	width: auto;
}
.logo{
	width: auto;
	height: 100%;
	padding: 5px;
}
.header-menu{
	display: block;
	width: 100%;
	height: auto;
	background-color: #C0C0C0;
}
.nav-menu{
	display: inline-block;
	width: auto;
	height: auto;
	list-style: none;
	margin: 0 5%;
}
.nav-menu > li{
	display: inline-block;
	width: 100px;
	height: auto;
	text-align: center;
}
.nav-menu > li:hover{
	background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.2));
}
.nav-menu > li:active{
	background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
	background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
}
.active{
	background: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
	background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
	background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.4));
}
.nav-menu > li > a{
	font-size: 1.75em;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
.search-container{
	display:inline-block;
	position: relative;
	top: 5px;
	height:auto;
	width: 300px;
	float:right;
	margin-right: 30px;
	overflow:hidden;
	border-radius: 5px;
}
.search-container > input{
	display:inline-block;
	width:80%;
	height:30px;
	vertical-align: middle;
	padding-left: 4px;
	border:none;
}
.search-container > button{
	display:inline-block;
	width:20%;
	height:30px;
	vertical-align: middle;
	float:right;
	border:none;
	cursor: pointer;
	border-left: 1px solid #EEE;
	background-color: #FFF;
}
.search-container > button:hover{
	background-color: #EEE;
}
.search-container > button:active{
	background-color: #DDD;
}

.container {
	display: none;
	margin: 50px 150px;
}
:target {
	display: block;
}

.news-main{
	display:inline-block;
	width: 70%;
}
.top-story{
	display: block;
	position: relative;
	width: 700px;
	height: 400px;
	margin: 5px 0;
	background: url('../images/ebola.png') no-repeat center;
	cursor: pointer;
}
.top-story-header {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	font-size: 1.15em;
	font-weight: 900;
	color: white;
	padding: 5px 15px;
	background-color: rgba(0,0,0,0.8);
}
.top-story-info{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	color: white;
	padding: 5px 15px;
	background-color: rgba(0,0,0,0.6);
}
.top-story-title{
	font-size: 1.4em;
	font-weight: bold;
}
.story{
	display: block;
	position: relative;
	width: 700px;
	height: 185px;
	margin: 5px 0;
	background-color: #222;
	color: white;
	cursor: pointer;
}
.story-img{
	display: inline-block;
	height: 100%;
	width: auto;
}
.story-container {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 185px;
}
.story-title{
	display: block;
	position: absolute;
	top: 0;
	font-size: 1.4em;
	font-weight: 400;
	padding: 15px;
}
.story-description{
	display: block;
	position: absolute;
	height: auto;
	width: 100%;
	bottom: 0;
	padding: 15px;
}
.news-other{
	display:inline-block;
	float:right;
	width: 30%;
	background-color: #C0C0C0;
	margin: 5px 0;
}
.other-banner{
	display: block;
	font-size: 1.4em;
	background-color: rgba(0,0,0,0.2);
	padding: 3px 10px;
}
.other-container{
	padding: 20px;
}
.other-stories {
	list-style: none;
}
.other-stories > li{
	margin: 10px 0;
}
.other-header{
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 2px solid black
}
.other-story{
	cursor: pointer;
	text-decoration: underline;
}
.other-story:hover{
	color: #777;
}

.newest{
	display: inline-block;
	width: 50%;
	height: auto;
	padding: 10px;
}
.popular{
	display: inline-block;
	float: right;
	width: 50%;
	height: auto;
	padding: 10px;
}
.header {
	border-bottom: 2px solid #FD5000;
	font-size: 2em;
}
.job{
	display: block;
	position: relative;
	background-color:#F7F7E4;
	margin: 20px 0;
	min-height: 150px;
	cursor: pointer;
}
.overlay{
	display:block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: none;
}
.overlay:hover{
	background: url('../images/apply.png');
	background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.job > .title{
	display: block;
	width: 100%;
	height: auto;
	padding: 0 15px;
	pointer-events: none;
	font-size: 1.5em;
}
.job > .description{
	display: block;
	width: 100%;
	height: auto;
	padding: 15px;
	pointer-events: none;
}

.faq-title{
	display: block;
	text-align: center;
	border-bottom: 2px solid #FD5000;
	font-size: 2em;
}
.faq-container{
	display: block;
	width: 75%;
	margin: 0 auto;
}
.question{
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
}
.question-text{
	display: inline-block;
	position: absolute;
	bottom: 15px;
	font-size: 1.3em;
}
.question > img{
	display: inline-block;
	float: left;
	height: 100%;
	width: auto;
}
.answer{
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	margin-bottom: 35px;
}
.answer-text{
	display: inline-block;
	position: absolute;
	bottom: 15px;
	right: 100px;
	font-size: 1.3em;
}
.answer > img{
	display: inline-block;
	float: right;
	height: 100%;
	width: auto;
}

footer {
	background-color: #FD5000;
	height: 30px;
	width: 100%;
}
.footer-list{
	display: block;
	width: 100%;
	text-align: center;
	list-style: none;
}
.footer-list > li{
	display: inline-block;
	margin: 0 10px;
}
.footer-list > li > a {
	color: black;
	font-size: 1.2em;
	font-weight: bolder;
	text-decoration: none;
}
.footer-list > li > a:hover {
	color: #EEE;
}

@media screen and (max-width: 500px){
	.faq-title {
		font-size: 1.25em;
	}
	.answer-text {
		font-size: 0.75em;
	}
	.question-text {
		font-size: 0.75em;
	}
}
@media screen and (max-width: 600px){
	.subtitle{
		display:none;
	}
	.logo{
		height: 55px;
		width: auto;
	}
	.header-banner {
		height: 60px;
	}
}
@media screen and (max-width: 700px){
	.container {
		margin: 5px 10px;
	}
	.faq-container{
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 750px){
	.search-container {
		display: none;
	}
	.nav-menu {
		margin: 0;
	}
}
@media screen and (max-width: 950px){
	.search-container {
		display: none;
	}
	.nav-menu {
		margin: 0;
	}
	.newest, .popular {
		display: block;
		width: 100%;
	}
}
@media screen and (max-width: 1000px){
	.faq-container{
		display: block;
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1300px){
	.news-other, .news-main {
		display: block;
		width: 100%;
	}
	.story, .top-story{
		display: block;
		margin: 5px auto;
	}
}