/**
 *  [Reset Styles]
 *
 *  Undo browser-specific styles
 */

* {
    margin: 0;
    padding: 0;

    font-size: 100%;
    font: inherit;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
}


/**
 *  [Global Styles]
 *
 *  Styles that affect everything on the page!
 */

body {
    
    /*
        It is OK to apply styles to the body tag
        for properties that you want to be shared
        across all of your pages!
     */
    
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    color: #333;
}

/**
 *  [Site Styles]
 *
 *  Styles for your website!
 */

.heading{
    font-size: 48px;
    /*
        font-size: 5em;
        font-size: 5rem;
        font-size: 2in; ;)
    */
    text-decoration: underline;
    text-align: center;
    margin: 10px;
}

.heading-anchor{
    text-decoration: none;
    color: #666;
    
}

.heading-anchor:hover{
    text-decoration: none;
    color: #333;
}

/*[Navigation Styles]*/

.recipe-navigation{
    width: 720px; 
    margin: 20px auto;   
    /* 
        Margin Shorthand written out:
        margin: top right bottom left | top& bottom right&left;
        TRBL
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    */
    padding: 8px 4px;
    background: rgba(0,0,0,0.25);
}

.nav-item{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    padding: 3px 4px;
}

.nav-item:hover{
    background-color: rgba(0,0,0,0.25);
    color: #000;
}

/*[Recipe Cards]*/

.recipes {
    position: relative;
    width: 720px;
    height: 480px;
    margin: auto;
}

.recipe {
    position: absolute;
    height: 100%;
    background: #e2e2e2;
    overflow: hidden;
    opacity: 0;
    transition: opacity 500ms ease;
}

.recipe:target{
    z-index: 2;
    opacity: 1;
}

.recipe-label {
    width: 25%;
    /*float: left;*/
    /*background: blue;*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.recipe-body {
    /*width: 75%;*/
    /*float: left;*/
    /*background: red;*/
    padding: 20px 40px;
    margin-left: 25%;
    overflow: auto;
    max-height: 100%;
}

.recipe-name{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background: rgba(0,0,0,0.25);
}

.recipe-home-banner .recipe-label{
    background-image: url('../images/pizza.gif')
}

.recipe-baked-ziti .recipe-label{
    background-image: url('../images/recipe-baked-ziti.jpg')
}

.recipe-chocolate-chip-cookies .recipe-label{
    background-image: url('../images/recipe-chocolate-chip-cookies.jpg');
}

.recipe-chunky-cheesecake-brownies .recipe-label{
    background-image: url('../images/recipe-chunky-cheesecake-brownies.jpg')
}

.recipe-section {
    margin-bottom: 20px;
}

.recipe-section:last-child{
    margin-bottom: 0;
}

.recipe-subheading {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.23232323);
    margin-bottom: 5px;
}

.recipe-home-banner-subheading{
    text-align: center;

}