.pageSetup
{
	background: url(skyline.jpg);
	webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.pageSetup2
{
	background: url(world.jpg);
	webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.logo1
{
	color:white;
	font-size: 72px;
	text-align:center;
	margin-top:15%;
}

.topSection
{
	display:inline;
}

.topLine
{
	border-color: black;
}

.postOnCraigslist
{
	text-decoration:none;
	font-size: 18px;
	color: #172442;
	font-weight: bold;
}

.mobileLink
{
	margin-right: 20px;
	margin-left:15%;
	text-decoration:none;
	font-size: 18px;
	color: #172442;
	font-weight: bold;
}

.register
{
	float:right;
	margin-right:15%;
	text-decoration:none;
	font-size: 18px;
	color: #172442;
	font-weight: bold;
}

.login
{
	float:right;
	margin-right: 20px;
	margin-left: 20px;
	text-decoration:none;
	font-size: 18px;
	color: #172442;
	font-weight: bold;
}

.default
{
	text-decoration: none;
	color:black;
}

.craigslistSites
{
	float: right;
	height:1px;
}

.languageArea
{
	float:right;
	margin-top:3%;
}

.language
{
	float:right;
	width:150px;
	height:28px;
	margin-right:50px;
}

.locationArea
{
	float:right;
	margin-top:3%;
}

.location
{
	width:150px;
	height:28px;
	margin-left:-39px;
	margin-right:20px;
}

.logoPart
{
	margin-left: 15%;
	margin-top:50px;
	margin-bottom:50px;
	width:70%;
	height:17%;
	background-color: #A2B9D1;
	border-style: solid;
}

.logo
{
	font-size: 42px;
	float:left;
	width:30%;
	margin-left:50px;
	margin-top:20px;
}

.searchArea
{
	margin-top:5%;
	margin-bottom:3%;
	float:right;
	position: absolute;
	margin-left: 43.4%;
}

.navigation
{
	border-style:solid;
	margin-top:5%;
	margin-left:15%;
	width:70%;
	height:70px;
	margin-bottom:3%;
	background-color: #A2B9D1;;
}

.navItem
{
	font-size: 20px;
	color:#172442;
	text-decoration: none;
	margin-left:27.5px;
}

.recentPosts
{
	border-style: solid;
	width:70%;
	height:900px;
	margin-left: 15%;
	background-color: #98AFC7;
}

.postHeading
{
	font-size: 32px;
	margin-left:5%;
}

.blankSpacing1
{
	height:2%;
}

.blankSpacing2
{
	height:2%;
}

.postings
{
	border-style:solid;
	width:80%;
	margin-left:10%;
	height:125px;
	clear:both;
}

.postInfo
{
	margin-left:10%;
}

.postStuff
{
	margin-bottom:2px;
	margin-top:1px;
	margin-left:3%;
}

.postTitle
{
	margin-top:3%;
	margin-left:50px;
	font-size:22px;
	height:18px;
}

.links
{
	color: #FFEBCD;
	text-decoration:none;
	float:right;
	margin-top:3%;
	margin-right:20px;
	margin-bottom:1%;
}

.links1
{
	color: #FFEBCD;
	text-decoration:none;
	float:right;
	margin-top:17%;
	margin-right:20px;
	margin-bottom:1%;
}

.permalink
{
	color:black;
	text-decoration:none;
}

.category
{
	text-decoration:none;
	color:darkblue;
}

.user
{
	text-decoration:none;
	color:darkblue;
}

.country
{
	margin-left:46%;
	margin-top:1%;
	margin-bottom:1%;
}

.state
{
	margin-left:46%;
	margin-bottom:1%;
}

.city
{
	margin-left:46%;
}

.permalinkPost
{
	text-align:center;
	border-style: solid;
	width:50%;
	margin-left:25%;
	margin-top: 5%;
	border-radius: 35px;
	border-color: gray;
}

.titlePart
{
	font-family: calibri;
	font-size: 28px;
	color:darkblue;
}

.picture
{
	height: 40%;
}

.information
{
	margin-left:5%;
	margin-right:5%;
	color:white;
}

.postInformation
{
	border-style: solid;
	border-radius: 20px;
	border-width: 1px;
	border-color: gray;
	margin-top:5%;
	width:70%;
	margin-left:15%;
}

.creatorInfo
{
	color:white;
	margin-top:5px;
	margin-bottom:5px;
	font-weight: bold;
	font-size: 16px;
	font-family: calibri;
}

.user1
{
	font-weight: bold;
	font-size: 16px;
	font-family: calibri;
	color:white;
}

.category1
{
	font-weight: bold;
	font-size: 18px;
	font-family: calibri;
	color:white;
	text-decoration: none;
}
.logo2
{
	font-size: 50px;
	text-align:center;
	margin-top:5%;
}