*
{
	box-sizing: border-box;
	font-family: arial;
}

body {
	margin: 40px;
}

.heading {
	margin: 0 0 25px;
}

.btn {
	padding: 10px;
	background: rgba(0,0,0,0.125);
	border: 1px solid rgba(0,0,0,0.1);
	outline: none;
	border-radius: 4px;
	cursor: pointer;
}

.btn:active {
	background: rgba(0,0,0,0.15);
	box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.25);
}

.img {
	display: block;
	max-width: 50%;
	height: auto;
	margin: 10px 0;
	border-radius: 3px:;
}

.tooltip {
	position: relative;
	display: inline-block;
	background: #000;
	color: #fff;
	border-radius: 30px;
	padding: 0 8px;

	font-size: 11px;
	line-height: 20px;
	white-space: nowrap;

	/* Don't let the tooltip interfere with anything*/
	pointer-events: none;
	margin-top: -25px;
}

.tooltip:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	
	transform: translateX(-50%);
	
	height: 0;
	width: 0;

	border-top: 6px solid black;
	border-bottom: 6px solid transparent;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
